--
-- PostgreSQL database dump
--

\restrict Eq2YJrqeIy4F1wBnBZyOEeKTrZgbFTfu4D2GENougQb0tXALnKRO4zWBWSMMGba

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: authorizationgranttype; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.authorizationgranttype AS ENUM (
    'AUTHORIZATION_CODE',
    'CLIENT_CREDENTIALS'
);


ALTER TYPE public.authorizationgranttype OWNER TO mage;

--
-- Name: blockrunstatus; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.blockrunstatus AS ENUM (
    'INITIAL',
    'QUEUED',
    'RUNNING',
    'COMPLETED',
    'FAILED',
    'CANCELLED',
    'UPSTREAM_FAILED',
    'CONDITION_FAILED'
);


ALTER TYPE public.blockrunstatus OWNER TO mage;

--
-- Name: clienttype; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.clienttype AS ENUM (
    'PRIVATE',
    'PUBLIC'
);


ALTER TYPE public.clienttype OWNER TO mage;

--
-- Name: entity; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.entity AS ENUM (
    'GLOBAL',
    'PROJECT',
    'PIPELINE'
);


ALTER TYPE public.entity OWNER TO mage;

--
-- Name: eventtype; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.eventtype AS ENUM (
    'AWS_EVENT'
);


ALTER TYPE public.eventtype OWNER TO mage;

--
-- Name: executortype; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.executortype AS ENUM (
    'AZURE_CONTAINER_INSTANCE',
    'ECS',
    'GCP_CLOUD_RUN',
    'K8S',
    'LOCAL_PYTHON',
    'LOCAL_PYTHON_FORCE',
    'PYSPARK'
);


ALTER TYPE public.executortype OWNER TO mage;

--
-- Name: intervaltype; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.intervaltype AS ENUM (
    'SECOND',
    'MINUTE',
    'HOUR',
    'DAY',
    'WEEK',
    'MONTH',
    'YEAR',
    'CUSTOM'
);


ALTER TYPE public.intervaltype OWNER TO mage;

--
-- Name: jobstatus; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.jobstatus AS ENUM (
    'INITIAL',
    'QUEUED',
    'RUNNING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public.jobstatus OWNER TO mage;

--
-- Name: jobtype; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.jobtype AS ENUM (
    'CANCEL_PIPELINE_RUN'
);


ALTER TYPE public.jobtype OWNER TO mage;

--
-- Name: pipelinerunstatus; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.pipelinerunstatus AS ENUM (
    'INITIAL',
    'RUNNING',
    'COMPLETED',
    'FAILED',
    'CANCELLED'
);


ALTER TYPE public.pipelinerunstatus OWNER TO mage;

--
-- Name: schedulestatus; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.schedulestatus AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.schedulestatus OWNER TO mage;

--
-- Name: scheduletype; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.scheduletype AS ENUM (
    'TIME',
    'API',
    'EVENT'
);


ALTER TYPE public.scheduletype OWNER TO mage;

--
-- Name: status; Type: TYPE; Schema: public; Owner: mage
--

CREATE TYPE public.status AS ENUM (
    'INITIAL',
    'RUNNING',
    'COMPLETED',
    'FAILED',
    'CANCELLED'
);


ALTER TYPE public.status OWNER TO mage;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO mage;

--
-- Name: backfill; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.backfill (
    id integer NOT NULL,
    block_uuid character varying(255),
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    end_datetime timestamp with time zone,
    failed_at timestamp with time zone,
    interval_type public.intervaltype,
    interval_units integer,
    metrics json,
    name character varying(255),
    pipeline_schedule_id integer,
    pipeline_uuid character varying(255),
    start_datetime timestamp with time zone,
    started_at timestamp with time zone,
    status public.status,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    variables json,
    settings json
);


ALTER TABLE public.backfill OWNER TO mage;

--
-- Name: backfill_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.backfill_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.backfill_id_seq OWNER TO mage;

--
-- Name: backfill_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.backfill_id_seq OWNED BY public.backfill.id;


--
-- Name: block_run; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.block_run (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    pipeline_run_id integer,
    block_uuid character varying(255),
    status public.blockrunstatus,
    completed_at timestamp with time zone,
    started_at timestamp with time zone,
    metrics json
);


ALTER TABLE public.block_run OWNER TO mage;

--
-- Name: block_run_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.block_run_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.block_run_id_seq OWNER TO mage;

--
-- Name: block_run_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.block_run_id_seq OWNED BY public.block_run.id;


--
-- Name: event_matcher; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.event_matcher (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    event_type public.eventtype,
    name character varying(255),
    pattern json
);


ALTER TABLE public.event_matcher OWNER TO mage;

--
-- Name: event_matcher_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.event_matcher_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.event_matcher_id_seq OWNER TO mage;

--
-- Name: event_matcher_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.event_matcher_id_seq OWNED BY public.event_matcher.id;


--
-- Name: generic_job; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.generic_job (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    job_type public.jobtype NOT NULL,
    status public.jobstatus,
    payload json,
    extra_metadata json,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    repo_path character varying(255)
);


ALTER TABLE public.generic_job OWNER TO mage;

--
-- Name: generic_job_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.generic_job_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.generic_job_id_seq OWNER TO mage;

--
-- Name: generic_job_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.generic_job_id_seq OWNED BY public.generic_job.id;


--
-- Name: oauth2_access_token; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.oauth2_access_token (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    expires timestamp with time zone,
    oauth2_application_id integer,
    token text,
    user_id integer,
    refresh_token text
);


ALTER TABLE public.oauth2_access_token OWNER TO mage;

--
-- Name: oauth2_access_token_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.oauth2_access_token_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.oauth2_access_token_id_seq OWNER TO mage;

--
-- Name: oauth2_access_token_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.oauth2_access_token_id_seq OWNED BY public.oauth2_access_token.id;


--
-- Name: oauth2_application; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.oauth2_application (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    authorization_grant_type public.authorizationgranttype,
    client_id character varying(255),
    client_type public.clienttype,
    name character varying(255),
    redirect_uris character varying(255),
    user_id integer
);


ALTER TABLE public.oauth2_application OWNER TO mage;

--
-- Name: oauth2_application_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.oauth2_application_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.oauth2_application_id_seq OWNER TO mage;

--
-- Name: oauth2_application_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.oauth2_application_id_seq OWNED BY public.oauth2_application.id;


--
-- Name: permission; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.permission (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    entity_id character varying(255),
    entity public.entity,
    access integer,
    role_id integer,
    user_id integer,
    entity_name character varying(255),
    entity_type character varying(255),
    options json
);


ALTER TABLE public.permission OWNER TO mage;

--
-- Name: permission_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permission_id_seq OWNER TO mage;

--
-- Name: permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.permission_id_seq OWNED BY public.permission.id;


--
-- Name: pipeline_run; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.pipeline_run (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    pipeline_schedule_id integer,
    pipeline_uuid character varying(255),
    execution_date timestamp with time zone,
    status public.pipelinerunstatus,
    completed_at timestamp with time zone,
    variables json,
    passed_sla boolean,
    event_variables json,
    metrics json,
    backfill_id integer,
    executor_type public.executortype,
    started_at timestamp with time zone
);


ALTER TABLE public.pipeline_run OWNER TO mage;

--
-- Name: pipeline_run_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.pipeline_run_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pipeline_run_id_seq OWNER TO mage;

--
-- Name: pipeline_run_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.pipeline_run_id_seq OWNED BY public.pipeline_run.id;


--
-- Name: pipeline_schedule; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.pipeline_schedule (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    name character varying(255),
    pipeline_uuid character varying(255),
    schedule_type public.scheduletype,
    start_time timestamp with time zone,
    schedule_interval character varying(50),
    status public.schedulestatus,
    variables json,
    sla integer,
    token character varying(255),
    settings json,
    repo_path character varying(255),
    global_data_product_uuid character varying(255),
    description text,
    last_enabled_at timestamp with time zone
);


ALTER TABLE public.pipeline_schedule OWNER TO mage;

--
-- Name: pipeline_schedule_event_matcher_association; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.pipeline_schedule_event_matcher_association (
    pipeline_schedule_id integer,
    event_matcher_id integer
);


ALTER TABLE public.pipeline_schedule_event_matcher_association OWNER TO mage;

--
-- Name: pipeline_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.pipeline_schedule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pipeline_schedule_id_seq OWNER TO mage;

--
-- Name: pipeline_schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.pipeline_schedule_id_seq OWNED BY public.pipeline_schedule.id;


--
-- Name: qb_customers; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.qb_customers (
    id text NOT NULL,
    payload jsonb NOT NULL,
    ingested_at_utc timestamp with time zone NOT NULL,
    extract_window_start_utc timestamp with time zone NOT NULL,
    extract_window_end_utc timestamp with time zone NOT NULL,
    page_number integer NOT NULL,
    page_size integer NOT NULL,
    request_payload jsonb NOT NULL
);


ALTER TABLE public.qb_customers OWNER TO mage;

--
-- Name: qb_invoices; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.qb_invoices (
    id text NOT NULL,
    payload jsonb NOT NULL,
    ingested_at_utc timestamp with time zone NOT NULL,
    extract_window_start_utc timestamp with time zone NOT NULL,
    extract_window_end_utc timestamp with time zone NOT NULL,
    page_number integer NOT NULL,
    page_size integer NOT NULL,
    request_payload jsonb NOT NULL
);


ALTER TABLE public.qb_invoices OWNER TO mage;

--
-- Name: qb_items; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.qb_items (
    id text NOT NULL,
    payload jsonb NOT NULL,
    ingested_at_utc timestamp with time zone NOT NULL,
    extract_window_start_utc timestamp with time zone NOT NULL,
    extract_window_end_utc timestamp with time zone NOT NULL,
    page_number integer NOT NULL,
    page_size integer NOT NULL,
    request_payload jsonb NOT NULL
);


ALTER TABLE public.qb_items OWNER TO mage;

--
-- Name: role; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.role (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    name character varying(255),
    user_id integer
);


ALTER TABLE public.role OWNER TO mage;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_id_seq OWNER TO mage;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: role_permission; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.role_permission (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    permission_id integer,
    role_id integer,
    user_id integer
);


ALTER TABLE public.role_permission OWNER TO mage;

--
-- Name: role_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.role_permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_permission_id_seq OWNER TO mage;

--
-- Name: role_permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.role_permission_id_seq OWNED BY public.role_permission.id;


--
-- Name: secret; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.secret (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    name character varying(255),
    value text,
    repo_name character varying(255),
    key_uuid character varying(255)
);


ALTER TABLE public.secret OWNER TO mage;

--
-- Name: secret_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.secret_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.secret_id_seq OWNER TO mage;

--
-- Name: secret_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.secret_id_seq OWNED BY public.secret.id;


--
-- Name: tag; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.tag (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    description text,
    name character varying(255)
);


ALTER TABLE public.tag OWNER TO mage;

--
-- Name: tag_association; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.tag_association (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    tag_id integer,
    taggable_id integer,
    taggable_type character varying(255)
);


ALTER TABLE public.tag_association OWNER TO mage;

--
-- Name: tag_association_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.tag_association_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tag_association_id_seq OWNER TO mage;

--
-- Name: tag_association_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.tag_association_id_seq OWNED BY public.tag_association.id;


--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.tag_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tag_id_seq OWNER TO mage;

--
-- Name: tag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.tag_id_seq OWNED BY public.tag.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    avatar character varying(255),
    email character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    owner boolean,
    password_hash character varying(255),
    password_salt character varying(255),
    roles integer,
    username character varying(255),
    preferences json
);


ALTER TABLE public."user" OWNER TO mage;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO mage;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user_project; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.user_project (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer,
    root_project_uuid character varying(255),
    project_name character varying(255),
    active boolean
);


ALTER TABLE public.user_project OWNER TO mage;

--
-- Name: user_project_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.user_project_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_project_id_seq OWNER TO mage;

--
-- Name: user_project_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.user_project_id_seq OWNED BY public.user_project.id;


--
-- Name: user_role; Type: TABLE; Schema: public; Owner: mage
--

CREATE TABLE public.user_role (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer,
    role_id integer
);


ALTER TABLE public.user_role OWNER TO mage;

--
-- Name: user_role_id_seq; Type: SEQUENCE; Schema: public; Owner: mage
--

CREATE SEQUENCE public.user_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_role_id_seq OWNER TO mage;

--
-- Name: user_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mage
--

ALTER SEQUENCE public.user_role_id_seq OWNED BY public.user_role.id;


--
-- Name: backfill id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.backfill ALTER COLUMN id SET DEFAULT nextval('public.backfill_id_seq'::regclass);


--
-- Name: block_run id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.block_run ALTER COLUMN id SET DEFAULT nextval('public.block_run_id_seq'::regclass);


--
-- Name: event_matcher id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.event_matcher ALTER COLUMN id SET DEFAULT nextval('public.event_matcher_id_seq'::regclass);


--
-- Name: generic_job id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.generic_job ALTER COLUMN id SET DEFAULT nextval('public.generic_job_id_seq'::regclass);


--
-- Name: oauth2_access_token id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.oauth2_access_token ALTER COLUMN id SET DEFAULT nextval('public.oauth2_access_token_id_seq'::regclass);


--
-- Name: oauth2_application id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.oauth2_application ALTER COLUMN id SET DEFAULT nextval('public.oauth2_application_id_seq'::regclass);


--
-- Name: permission id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.permission ALTER COLUMN id SET DEFAULT nextval('public.permission_id_seq'::regclass);


--
-- Name: pipeline_run id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_run ALTER COLUMN id SET DEFAULT nextval('public.pipeline_run_id_seq'::regclass);


--
-- Name: pipeline_schedule id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_schedule ALTER COLUMN id SET DEFAULT nextval('public.pipeline_schedule_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: role_permission id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role_permission ALTER COLUMN id SET DEFAULT nextval('public.role_permission_id_seq'::regclass);


--
-- Name: secret id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.secret ALTER COLUMN id SET DEFAULT nextval('public.secret_id_seq'::regclass);


--
-- Name: tag id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.tag ALTER COLUMN id SET DEFAULT nextval('public.tag_id_seq'::regclass);


--
-- Name: tag_association id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.tag_association ALTER COLUMN id SET DEFAULT nextval('public.tag_association_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: user_project id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.user_project ALTER COLUMN id SET DEFAULT nextval('public.user_project_id_seq'::regclass);


--
-- Name: user_role id; Type: DEFAULT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.user_role ALTER COLUMN id SET DEFAULT nextval('public.user_role_id_seq'::regclass);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: backfill backfill_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.backfill
    ADD CONSTRAINT backfill_pkey PRIMARY KEY (id);


--
-- Name: block_run block_run_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.block_run
    ADD CONSTRAINT block_run_pkey PRIMARY KEY (id);


--
-- Name: event_matcher event_matcher_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.event_matcher
    ADD CONSTRAINT event_matcher_pkey PRIMARY KEY (id);


--
-- Name: generic_job generic_job_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.generic_job
    ADD CONSTRAINT generic_job_pkey PRIMARY KEY (id);


--
-- Name: secret name_key_uuid_uc; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.secret
    ADD CONSTRAINT name_key_uuid_uc UNIQUE (name, key_uuid);


--
-- Name: oauth2_access_token oauth2_access_token_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.oauth2_access_token
    ADD CONSTRAINT oauth2_access_token_pkey PRIMARY KEY (id);


--
-- Name: oauth2_application oauth2_application_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.oauth2_application
    ADD CONSTRAINT oauth2_application_pkey PRIMARY KEY (id);


--
-- Name: permission permission_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_pkey PRIMARY KEY (id);


--
-- Name: pipeline_run pipeline_run_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_run
    ADD CONSTRAINT pipeline_run_pkey PRIMARY KEY (id);


--
-- Name: pipeline_schedule pipeline_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_schedule
    ADD CONSTRAINT pipeline_schedule_pkey PRIMARY KEY (id);


--
-- Name: qb_customers qb_customers_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.qb_customers
    ADD CONSTRAINT qb_customers_pkey PRIMARY KEY (id);


--
-- Name: qb_invoices qb_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.qb_invoices
    ADD CONSTRAINT qb_invoices_pkey PRIMARY KEY (id);


--
-- Name: qb_items qb_items_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.qb_items
    ADD CONSTRAINT qb_items_pkey PRIMARY KEY (id);


--
-- Name: role_permission role_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_pkey PRIMARY KEY (id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: secret secret_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.secret
    ADD CONSTRAINT secret_pkey PRIMARY KEY (id);


--
-- Name: tag_association tag_association_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.tag_association
    ADD CONSTRAINT tag_association_pkey PRIMARY KEY (id);


--
-- Name: tag_association tag_id_taggable_id_taggable_type_uc; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.tag_association
    ADD CONSTRAINT tag_id_taggable_id_taggable_type_uc UNIQUE (tag_id, taggable_id, taggable_type);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user_project user_project_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.user_project
    ADD CONSTRAINT user_project_pkey PRIMARY KEY (id);


--
-- Name: user_role user_role_pkey; Type: CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_pkey PRIMARY KEY (id);


--
-- Name: ix_block_run_pipeline_run_id; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_block_run_pipeline_run_id ON public.block_run USING btree (pipeline_run_id);


--
-- Name: ix_generic_job_job_type; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_generic_job_job_type ON public.generic_job USING btree (job_type);


--
-- Name: ix_generic_job_status; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_generic_job_status ON public.generic_job USING btree (status);


--
-- Name: ix_oauth2_access_token_token; Type: INDEX; Schema: public; Owner: mage
--

CREATE UNIQUE INDEX ix_oauth2_access_token_token ON public.oauth2_access_token USING btree (token);


--
-- Name: ix_oauth2_application_client_id; Type: INDEX; Schema: public; Owner: mage
--

CREATE UNIQUE INDEX ix_oauth2_application_client_id ON public.oauth2_application USING btree (client_id);


--
-- Name: ix_pipeline_run_backfill_id; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_run_backfill_id ON public.pipeline_run USING btree (backfill_id);


--
-- Name: ix_pipeline_run_execution_date; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_run_execution_date ON public.pipeline_run USING btree (execution_date);


--
-- Name: ix_pipeline_run_pipeline_schedule_id; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_run_pipeline_schedule_id ON public.pipeline_run USING btree (pipeline_schedule_id);


--
-- Name: ix_pipeline_run_pipeline_uuid; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_run_pipeline_uuid ON public.pipeline_run USING btree (pipeline_uuid);


--
-- Name: ix_pipeline_run_status; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_run_status ON public.pipeline_run USING btree (status);


--
-- Name: ix_pipeline_schedule_global_data_product_uuid; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_schedule_global_data_product_uuid ON public.pipeline_schedule USING btree (global_data_product_uuid);


--
-- Name: ix_pipeline_schedule_pipeline_uuid; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_schedule_pipeline_uuid ON public.pipeline_schedule USING btree (pipeline_uuid);


--
-- Name: ix_pipeline_schedule_token; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_pipeline_schedule_token ON public.pipeline_schedule USING btree (token);


--
-- Name: ix_role_name; Type: INDEX; Schema: public; Owner: mage
--

CREATE UNIQUE INDEX ix_role_name ON public.role USING btree (name);


--
-- Name: ix_tag_association_taggable_id; Type: INDEX; Schema: public; Owner: mage
--

CREATE INDEX ix_tag_association_taggable_id ON public.tag_association USING btree (taggable_id, taggable_type);


--
-- Name: ix_tag_name; Type: INDEX; Schema: public; Owner: mage
--

CREATE UNIQUE INDEX ix_tag_name ON public.tag USING btree (name);


--
-- Name: ix_user_email; Type: INDEX; Schema: public; Owner: mage
--

CREATE UNIQUE INDEX ix_user_email ON public."user" USING btree (email);


--
-- Name: ix_user_username; Type: INDEX; Schema: public; Owner: mage
--

CREATE UNIQUE INDEX ix_user_username ON public."user" USING btree (username);


--
-- Name: backfill backfill_pipeline_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.backfill
    ADD CONSTRAINT backfill_pipeline_schedule_id_fkey FOREIGN KEY (pipeline_schedule_id) REFERENCES public.pipeline_schedule(id);


--
-- Name: block_run block_run_pipeline_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.block_run
    ADD CONSTRAINT block_run_pipeline_run_id_fkey FOREIGN KEY (pipeline_run_id) REFERENCES public.pipeline_run(id);


--
-- Name: oauth2_access_token oauth2_access_token_oauth2_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.oauth2_access_token
    ADD CONSTRAINT oauth2_access_token_oauth2_application_id_fkey FOREIGN KEY (oauth2_application_id) REFERENCES public.oauth2_application(id);


--
-- Name: oauth2_access_token oauth2_access_token_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.oauth2_access_token
    ADD CONSTRAINT oauth2_access_token_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: oauth2_application oauth2_application_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.oauth2_application
    ADD CONSTRAINT oauth2_application_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: permission permission_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: permission permission_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: pipeline_run pipeline_run_backfill_id; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_run
    ADD CONSTRAINT pipeline_run_backfill_id FOREIGN KEY (backfill_id) REFERENCES public.backfill(id);


--
-- Name: pipeline_run pipeline_run_pipeline_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_run
    ADD CONSTRAINT pipeline_run_pipeline_schedule_id_fkey FOREIGN KEY (pipeline_schedule_id) REFERENCES public.pipeline_schedule(id);


--
-- Name: pipeline_schedule_event_matcher_association pipeline_schedule_event_matcher_assoc_pipeline_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_schedule_event_matcher_association
    ADD CONSTRAINT pipeline_schedule_event_matcher_assoc_pipeline_schedule_id_fkey FOREIGN KEY (pipeline_schedule_id) REFERENCES public.pipeline_schedule(id);


--
-- Name: pipeline_schedule_event_matcher_association pipeline_schedule_event_matcher_associati_event_matcher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.pipeline_schedule_event_matcher_association
    ADD CONSTRAINT pipeline_schedule_event_matcher_associati_event_matcher_id_fkey FOREIGN KEY (event_matcher_id) REFERENCES public.event_matcher(id);


--
-- Name: role_permission role_permission_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permission(id);


--
-- Name: role_permission role_permission_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: role_permission role_permission_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: role role_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: tag_association tag_association_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.tag_association
    ADD CONSTRAINT tag_association_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tag(id);


--
-- Name: user_project user_project_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.user_project
    ADD CONSTRAINT user_project_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: user_role user_role_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: user_role user_role_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mage
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Eq2YJrqeIy4F1wBnBZyOEeKTrZgbFTfu4D2GENougQb0tXALnKRO4zWBWSMMGba

